@import 'src/styles/_vars.scss';

.header {
  background-color: $color;
  color: $color-light;
  text-align: center;
  padding: (3*$gutter + rem);

  .input-amount{
    width: 50px;
    height: 15px;
    margin-top: 20px;
    text-align: center;
    padding: ($gutter + rem);
    border: none;
    border-bottom: 2px solid white;
    background-color: $color;
    color: white;
    font: inherit;
    font-weight: bold;
  }

  .header-title {
    font-size: 2em;
    font-weight: 700;
  }
  .header-amount {
    margin-top: ($gutter + rem)
  }

}
